.hide {
    height: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    transition: height 500ms ease-in;
}
.transition {
    transition: opacity 500ms ease-in
}

.fade-out {
    background-color: rgba(133, 0, 0, 0.3);
    opacity: 0;
    border: 0;
    transition: opacity 1s linear;
}

.expense-header:hover {
    box-shadow: 0 0 8px rgba(0,123,255, 0.6);
    background-color: rgba(0,123,255, 0.1);
    transition: .15s ease-in-out
}

.delete-expense {
    margin-top: auto;
    margin-bottom: auto;
}
.item-description {
    margin-bottom: .1rem
}

.category-button {
    margin-top: auto;
    margin-bottom: auto;
}